<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>

<h2>Book</h2>

Title: <%=book.bookTitle %>
<br>
Author: <%=book.bookAuthor %>
<br>
Year: <%=book.bookYear %>
<br>
Id: <%=book.id %>

	
</body>
</html>